<section id="about" class="about">
  <div class="container about__wrapper">
    <div class="about__header-wrapper">
      <p class="about__header about__header--secondary">tradition and love</p>
      <h2 class="about__header about__header--primary">how it’s made?</h2>
    </div>
    <div class="about__content-wrapper">
      <div>
        <img
          class="about__content-img"
          src="images/mobile-home-pic4.png"
          alt="Cow and jug of milk"
          srcset="
            images/desktop-home-pic4.png     516w,
            images/desktop-home-pic4@2x.png 1032w,
            images/tablet-home-pic4.png      340w,
            images/tablet-home-pic4@2x.png   680w,
            images/mobile-home-pic4.png      280w,
            images/mobile-home-pic4@2x.png   560w
          "
          sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 480px) 280px , 100vw"
        />
      </div>
      <div class="about__content">
        <h3 class="about__description about__description--primary">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </h3>
        <p class="about__description about__description--secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br /><br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button">
          Read more
          <svg width="6" height="10">
            <use href="./images/icons.svg#icon-vector-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
