<section class="advantages">
  <div class="wrapper-advantages">
    <div class="container-advantages">
      <h2 class="header-advantages">Advantages</h2>
      <ul class="advantages-list">
        <li class="advantages-list__item">
          <p class="advantages-list__number advantages-list__number--icon-first">721</p>
          <p class="advantages-list__paragraph">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <p class="advantages-list__number advantages-list__number--icon-second">16kg</p>
          <p class="advantages-list__paragraph">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <p class="advantages-list__number advantages-list__number--icon-third">84</p>
          <p class="advantages-list__paragraph">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
