<section class="contacts" id="contacts">
  <div class="contacts__wrapper">
    <!--  -->
    <img
      src="./images/contacts@1x.png"
      srcset="./images/contacts@1x.png 1280w, ./images/contacts@2x.png 2560w"
      sizes="1280px"
      alt="contacts splash"
      class="contacts__splash"
    />
    <!--  -->
    <h2 class="contacts__title">Contacts</h2>
    <div class="contacts__container">
      <div class="contacts__list">
        <ul class="contacts__list-container">
          <li class="contacts__list-element">
            <span class="contacts__category">Cafe</span>
            <p class="contacts__town">Chicago</p>
            <p class="contacts__town-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__list-element">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__list-element">
            <a href="tel:+610383766284" class="contacts__address">+61(0) 383 766 284</a>
            <a href="mailto:noreply@evanto.com" class="contacts__address">noreply@evanto.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts__container">
      <div class="contacts__list">
        <ul class="contacts__list-container">
          <li class="contacts__list-element">
            <span class="contacts__category contacts__category--color">Foodtruck</span>
            <p class="contacts__town">Los Angeles</p>
            <p class="contacts__town-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__list-element">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__list-element">
            <a href="tel:+610383766284" class="contacts__address">+61(0) 383 766 284</a>
            <a href="mailto:noreply@evanto.com" class="contacts__address">noreply@evanto.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts__container">
      <div class="contacts__list">
        <ul class="contacts__list-container">
          <li class="contacts__list-element">
            <span class="contacts__category">Cafe</span>
            <p class="contacts__town">New York</p>
            <p class="contacts__town-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__list-element">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__list-element">
            <a href="tel:+610383766284" class="contacts__address">+61(0) 383 766 284</a>
            <a href="mailto:noreply@evanto.com" class="contacts__address">noreply@evanto.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contacts__buttons">
    <button type="button" class="contacts__button contacts__button--main">
      Our locations
      <svg width="6" height="11" class="contacts__button-pointer">
        <use href="./images/icons.svg#icon-vector-2"></use>
      </svg>
    </button>
    <button type="button" class="contacts__button contacts__button--second">
      Franchise
      <svg width="6" height="11" class="contacts__button-pointer">
        <use href="./images/icons.svg#icon-vector-1"></use>
      </svg>
    </button>
  </div>
</section>
