<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__title">
      <h2 class="footer__title-head">Homemade ice cream made</h2>
      <p class="footer__title-text">With passion</p>
    </div>
    <div class="footer__right-panel">
      <div class="footer__icons-container">
        <ul class="footer__icons">
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/GoIT-FSON10-Team12/group-project"
            >
              <svg width="32" height="32" class="footer__icon">
                <use href="./images/icons-footer.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://telegram.org">
              <svg width="32" height="32" class="footer__icon">
                <use href="./images/icons-footer.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com">
              <svg width="32" height="32" class="footer__icon">
                <use href="./images/icons-footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contact">
        <p>
          Feel free to contact
          <a href="tel:+610383766284" class="footer__contact-telephone">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="copyright__wrapper">
    <p>&copy; 2019 - IceCream. All rights reserved.</p>
  </div>
</div>
