<header class="hero-header">
  <div class="hero-header__container container">
    <a class="hero-header__logo" href="index.html" title="Strona główna">
      <img alt="icecream-logo" src="/src/images/logo.png" />
    </a>
    <div class="hero-header__wrapper">
      <nav class="hero-header__navigation">
        <ul class="hero-header__nav">
          <li class="hero-header__nav-item">
            <a class="hero-header__nav-link" href="index.html">Home</a>
          </li>
          <li class="hero-header__nav-item">
            <a class="hero-header__nav-link" href="#">About us</a>
          </li>
          <li class="hero-header__nav-item">
            <a class="hero-header__nav-link" href="#">How it's made?</a>
          </li>
          <li class="hero-header__nav-item">
            <a class="hero-header__nav-link" href="#">Our products</a>
          </li>
          <li class="hero-header__nav-item">
            <a class="hero-header__nav-link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="hero-header__hamburger" data-menu-open>
      <svg class="hero-header__hamburger-icon" width="24" height="24">
        <use href="/src/images/icons/icons.svg#mobile-menu-open-icon"></use>
      </svg>
    </button>
    <button type="button" class="button__buy">Buy now ></button>
  </div>
  <div class="hero-header__title">
    <div class="hero-header__title-text">
      <h2 class="title__white">ICE CREAM<br />MADE WITH</h2>
      <h1 class="title__red">Passion</h1>
      <div class="hero-header__title-button">
        <button type="button" class="button__red">Products</button>
        <button type="button" class="button__white">How it's made?</button>
      </div>
    </div>
    <div class="hero-header__title-stats">
      <h3 class="title__stat">16</h3>
      <p class="title__stat-desription">cafe</p>
      <img
        alt="Statistic Small White Ellipse"
        src="/src/images/tablet/small-ellipse-1x.png"
        class="hero-header__small-ellipse"
      />
      <h3 class="title__stat">23</h3>
      <p class="title__stat-desription">food trucks</p>
      <img
        alt="Statistic Small White Ellipse"
        src="/src/images/tablet/small-ellipse-1x.png"
        class="hero-header__small-ellipse"
      />
    </div>
  </div>
  <div class="hero-header__promo">
    <div class="hero-header__promo-img">
      <img
        alt="milk"
        src="/src/images/tablet/header-bioeco-tablet-1x.png"
        width="124px"
        height="126px"
      />
    </div>
    <div class="hero-header__promo-description">
      <p class="hero-header__promo-description-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="button__slider"><span class="button__arrow"></span></button>
    </div>
    <div class="hero-header__main-slider">
      <img
        alt="Main Page Background Ellipse"
        src="/src/images/ellipse-1x.png"
        srcset="
          /src/images/ellipse-1x.png                  346w,
          /src/images/ellipse-2x.png                  692w,
          /src/images/tablet/ellipse-tablet-1x.png    324w,
          /src/images/tablet/ellipse-tablet-2x.png    648w,
          /src/images/desktop/ellipse-desktop-1x.png  538w,
          /src/images/desktop/ellipse-desktop-2x.png 1076w
        "
        sizes="(min-width: 320px) 346px, (min-width: 768px) 324w, (min-width: 1200px) 538w, 100vw"
        class="hero-header__background-ellipse"
      />
      <img
        alt="Main Page Icecream"
        src="/src/images/header-icecream-1x.png"
        srcset="
          /src/images/header-icecream-1x.png                 171w,
          /src/images/header-icecream-2x.png                 242w,
          /src/images/tablet/header-icecream-tablet-1x.png   143w,
          /src/images/tablet/header-icecream-tablet-2x.png   286w,
          /src/images/desktop/header-icecream-desktop-1x.png 236w,
          /src/images/desktop/header-icecream-desktop-2x.png 472w
        "
        sizes="(min-width: 320px) 171px, (min-width: 768px) 143w, (min-width: 1200px) 236w, 100vw"
        class="hero-header__background-img"
      />
    </div>
    <div class="hero-header__promo-girl">
      <img
        alt="milk"
        src="/src/images/tablet/header-tasty-tablet-1x.png"
        width="168px"
        height="133px"
      />
    </div>
  </div>
</header>
