<section class="products" id="products">
    <div class="container">
        <div class="products__title">
            <p class="products__title-et">100% natural</p>
            <h2 class="products__title-head">products</h2>
        </div>
        <div class="products__card-div">
            <ul class="products__card-list">
                <li class="products__card-element--one products__card-element">
                    <div class="products__card-cont">
                        <h3 class="products__card-h3">ice cream</h3>
                        <p class="products__card-p products__card-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et, dolore magna aliqua facilsis.</p>
                        <p class="products__card-p products__card-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <img class="products__card-img" 
                        src="./images/arrow-right-all.jpg" 
                             alt="vector" width="40" height="40"
                             >
                    </div>
                </li>
                <li class="products__card-element--two products__card-element">
                    <div class="products__card-cont">
                        <h3 class="products__card-h3">ice coffee</h3>
                        <p class="products__card-p products__card-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et, dolore magna aliqua facilsis.</p>
                        <p class="products__card-p products__card-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <img class="products__card-img" 
                             src="images/arrow-right-all.jpg" 
                           alt="vector" width="40" height="40"
                             >
                    </div>
                </li>
                <li class="products__card-element--tre products__card-element">
                    <div class="products__card-cont">
                        <h3 class="products__card-h3">milkshakes</h3>
                        <p class="products__card-p products__card-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et, dolore magna aliqua facilsis.</p>
                        <p class="products__card-p products__card-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <img class="products__card-img" 
                             src="./images/arrow-right-all.jpg" 

                           alt="vector" width="40" height="40"
                             >
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    
</section>
