<section class="container">
    <div class="swiper Swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/src/images/testimonials1.jpg" alt="happy client"/>
            <div>
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
                  <div>Emily, Los Angeles</div>
        </div>
          <div class="swiper-slide"><img src="/src/images/testimonials2.jpg" alt="happy client"/>
            <div><p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
                  <div>Erika, Los Angeles</div>
        </div>
          <div class="swiper-slide">
            <img src="/src/images/testimonials3.jpg" alt="happy client"/>
            <div><p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
                  <div>Marry, Los Angeles</div>
          </div>
        </div>
        <div class="swiper-pagination Pagination"></div>
      </div>
</section>