<section class="container">
    <div class="wrapper">
    <div class="reviews">
        <img class="reviews__image"   srcset="./images/testimonials1.jpg 1x, ./images/testimonials1@2x.jpg 2x"
        src="./images/testimonials1.jpg"
        alt="happy client"/>
        <div class="reviews__text-box">
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p></div>
        <div class="reviews__client-name">Emily, Los Angeles</div>
    <div class="pagination">
        <ul class="pagination__list"> <li class="pagination__item pagination__item--is-active"> <svg class="pagination__icon pagination__icon--is-active"><use width="12.4" height="11.84" href="./images/icons.svg#icon-house"></use></svg></li>
            <li class="pagination__item"> <svg class="pagination__icon"><use width="12.4" height="11.84" href="./images/icons.svg#icon-house"></use></svg></li>
            <li class="pagination__item"> <svg class="pagination__icon"><use width="12.4" height="11.84" href="./images/icons.svg#icon-house"></use></svg></li>
           </ul>
    </div>
</div>
</div>
</section>