<section class="container-reviews">
  <div class="swiper reviews-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="wrapper-reviews">
          <div class="reviews">
            <img
              class="reviews__image"
              srcset="./images/testimonials1.jpg 1x, ./images/testimonials1@2x.jpg 2x"
              src="./images/testimonials1.jpg"
              alt="happy client"
            />
            <div class="reviews__text-wraper">
              <div class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </div>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
            </ul>
            <div class="reviews__client-name">Emily, Los Angeles</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrapper-reviews">
          <div class="reviews">
            <img
              class="reviews__image"
              srcset="./images/testimonials2.jpg 1x, ./images/testimonials2@2x.jpg 2x"
              src="./images/testimonials2.jpg"
              alt="happy client"
            />
            <div class="reviews__text-wraper">
              <div class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </div>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
            </ul>
            <div class="reviews__client-name">Emily, Los Angeles</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrapper-reviews">
          <div class="reviews">
            <img
              class="reviews__image"
              srcset="./images/testimonials3.jpg 1x, ./images/testimonials3@2x.jpg 2x"
              src="./images/testimonials3.jpg"
              alt="happy client"
            />
            <div class="reviews__text-wraper">
              <div class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </div>
            </div>
            <ul class="reviews__list">
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
              <li class="reviews__item"></li>
            </ul>
            <div class="reviews__client-name">Emily, Los Angeles</div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
