<div class="container container--advantages">
    <ul class="advantages">
      <li class="advantages__list-item">
        <img class="advantages__icon advantages__icon--first" />
        <h2 class="advantages__header">721</h2>
        <p class="advantages__paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-item">
        <img class="advantages__icon advantages__icon--second" />
        <h2 class="advantages__header">16kg</h2>
        <p class="advantages__paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-item">
        <img class="advantages__icon advantages__icon--third" />
        <h2 class="advantages__header">84</h2>
        <p class="advantages__paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
  