$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
$tablet: 768px;
$mobile: 1280px;

// Tu wrzucam globalny reset i czcinki
// Nie chcę tego łączyć, bo to tylko chwilowe rozwiązanie
// Jak będzie to wrzucone w globalsy to usunę
.about {
  font-family: $fontPrimary;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.about {
  padding: 125px 20px 0;
  background-color: #fff5f6;
  background-image: url(../images/sectionbg1.png);
  background-repeat: no-repeat;
  background-position: bottom 61px right;
  background-size: 100% 133px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    margin: 0 auto;
    gap: 26px;
  }
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  &__header {
    font-family: $fontSecondary;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    &--primary {
      font-size: 34px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      color: #d41443;
    }
    &--secondary {
      font-size: 18px;
      line-height: 1.17;
      color: #ffa5ba;
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  &__content-img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding: 0 30px;
  }
  &__description {
    font-size: 12px;
    line-height: 1.62;
    &--primary {
      color: #000000;
    }
    &--secondary {
      color: #907e82;
    }
  }
  &__button {
    width: 176px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: #ffffff;
    color: #d41443;
    align-self: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    gap: 13.62px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: $tablet) {
  .about {
    padding: 130px 36px 0;
    background-image: none;
    &__wrapper {
      max-width: 696px;
      gap: 50px;
    }
    &__header-wrapper {
      gap: 16px;
    }
    &__header {
      &--primary {
        font-size: 48px;
      }
      &--secondary {
        font-size: 26px;
        line-height: 1.15;
      }
    }
    &__content-wrapper {
      flex-direction: row;
      gap: 17px;
    }
    &__content-img {
      min-width: 340px;
    }
    &__content {
      padding: 50px 0 0;
      gap: 28px;
    }
    &__description {
      font-size: 14px;
      line-height: 1.76;
      &--secondary {
        letter-spacing: 0.04em;
        margin-bottom: 34px;
      }
    }
    &__button {
      align-self: flex-start;
      font-size: 16px;
      line-height: 1.3;
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    padding: 125px 117px 0 112px;
    background-image: url(../images/desktop-sectionbg1.png);
    background-repeat: no-repeat;
    background-position: top 342px right;
    background-size: 100% 534px;
    &__wrapper {
      max-width: 1051px;
      gap: 55px;
    }
    &__header-wrapper {
      gap: 15px;
    }
    &__header {
      &--primary {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
      }
      &--secondary {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
      }
    }
    &__content-wrapper {
      gap: 74px;
    }
    &__content-img {
      min-width: 516px;
    }
    &__content {
      padding: 51px 0 0;
      gap: 35px;
    }
    &__description {
      line-height: 1.76;
      &--primary {
        font-size: 16px;
        letter-spacing: 0.04em;
      }
      &--secondary {
        letter-spacing: 0.04em;
        line-height: 1.94;
        margin-bottom: 10px;
      }
    }
  }
}
