.about {
  background-color: $SectionFifthSevenColor;
  background-image: url(../images/sectionbg1.png);
  background-repeat: no-repeat;
  background-position: bottom 61px right;
  background-size: 100% 133px;
  &__wrapper {
    padding: 125px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 26px;
  }
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  &__header {
    font-family: $SecondaryFontFamily;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    &--primary {
      font-size: 34px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      color: $TextFirstBtnPrimaryColor;
    }
    &--secondary {
      font-size: 18px;
      line-height: 1.17;
      color: $SectionSecondTextThirdColor;
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  &__content-img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding: 0 30px;
  }
  &__description {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.62;
    &--secondary {
      color: $TextFourthColor;
    }
  }
  &__button {
    width: 176px;
    height: 44px;
    border-radius: 22px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $TextBtnSecondaryColor;
    color: $TextFirstBtnPrimaryColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    gap: 13.62px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover,
    &:focus {
      background-color: $BtnHoverColorPrimary;
      transform: scale(1.05);
      outline: none;
    }
  }
}

@media screen and (min-width: $tablet) {
  .about {
    background-image: none;
    &__wrapper {
      padding: 130px 36px 10px;
      gap: 50px;
    }
    &__header-wrapper {
      gap: 16px;
    }
    &__header {
      &--primary {
        font-size: 48px;
      }
      &--secondary {
        font-size: 26px;
        line-height: 1.15;
      }
    }
    &__content-wrapper {
      flex-direction: row;
      gap: 17px;
    }
    &__content-img {
      min-width: 340px;
    }
    &__content {
      padding: 50px 0 0;
      gap: 28px;
    }
    &__description {
      font-size: 14px;
      line-height: 1.76;
      &--secondary {
        letter-spacing: 0.04em;
        margin-bottom: 34px;
      }
    }
    &__button {
      align-self: flex-start;
      font-size: 16px;
      line-height: 1.3;
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    background-image: url(../images/desktop-sectionbg1.png);
    background-repeat: no-repeat;
    background-position: top 342px right;
    background-size: 100% 534px;
    &__wrapper {
      padding: 125px 117px 0 112px;
      gap: 55px;
    }
    &__header-wrapper {
      gap: 15px;
    }
    &__header {
      &--primary {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
      }
      &--secondary {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
      }
    }
    &__content-wrapper {
      gap: 74px;
    }
    &__content-img {
      min-width: 516px;
    }
    &__content {
      padding: 51px 0 0;
      gap: 35px;
    }
    &__description {
      line-height: 1.76;
      &--primary {
        font-size: 16px;
        letter-spacing: 0.04em;
      }
      &--secondary {
        letter-spacing: 0.04em;
        line-height: 1.94;
        margin-bottom: 10px;
      }
    }
  }
}
