.advantages {
  background-color: $SectionFifthSevenColor;
  padding-top: 29px;
  padding-bottom: 97px;

  @include tablet {
    padding-top: 56px;
    padding-bottom: 140px;
  }

  @include desktop {
    padding-top: 39px;
    padding-bottom: 139px;
  }
}

.wrapper-advantages {
  max-width: 440px;
  margin: 0 auto;

  @include tablet {
    max-width: 772px;
  }

  @include desktop {
    max-width: 1280px;
  }
}

.container-advantages {
  max-width: 480px;
  padding: 0 20px;
  margin: auto;

  @include tablet {
    max-width: 768px;
    padding: 0 36px;
  }

  @include desktop {
    max-width: 1280px;
    padding: 0 115px;
  }
}

.header-advantages {
  display: none;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-right: 50px;

  @include tablet {
    flex-direction: row;
    gap: 60px;
    padding-right: 0;
  }
  @include desktop {
    gap: 30px;
    padding-right: 0;
  }

  &__item:not(:last-of-type) {
    padding-bottom: 38px;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__number {
    font-family: $SecondaryFontFamily;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $TextFirstBtnPrimaryColor;

    @include tablet {
      font-size: 48px;
      line-height: 1.15;
    }

    @include desktop {
      font-size: 58px;
      line-height: 1.14;
    }

    &--icon-first::before {
      content: '';
      width: 33px;
      height: 50px;
      background-image: url(../images/icon1.png);
      display: block;
      margin-bottom: 16px;

      @include tablet {
        margin-bottom: 36px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
    }

    &--icon-second::before {
      content: '';
      width: 50px;
      height: 50px;
      background-image: url(../images/icon2.png);
      display: block;
      margin-bottom: 16px;

      @include tablet {
        margin-bottom: 36px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
    }

    &--icon-third::before {
      content: '';
      width: 44px;
      height: 50px;
      background-image: url(../images/icon3.png);
      display: block;
      margin-bottom: 16px;

      @include tablet {
        margin-bottom: 36px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
    }
  }

  &__paragraph {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    color: #000000;

    @include tablet {
      font-size: 14px;
      line-height: 1.71;
    }
    @include desktop {
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: 0.02em;
    }
  }
}
