p,
ul,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 420px;
  padding: 0 20px;
  margin: auto;
}

.container--advantages {
  background: #fff5f6;
}

.advantages {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.advantages__list-item:not(:last-of-type) {
  margin-bottom: 38px;
}

.advantages__header {
  font-family: $SecondaryFontFamily;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.advantages__paragraph {
  font-family: $DefaultFontFamily;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}

.advantages__icon--first::before {
  content: '';
  background-image: url(../src/images/icon1.png);
  width: 33px;
  height: 50px;
}

.advantages__icon--second::before {
  content: '';
  background-image: url(../src/images/icon2.png);
  width: 50px;
  height: 50px;
}

.advantages__icon--third::before {
  content: '';
  background-image: url(../src/images/icon3.png);
  width: 44px;
  height: 50px;
}
