.button-wrapper {
  width: 111.73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.button {
  &__buy {
    display: none;
    @include tablet {
      display: flex;
      margin-right: 34px;
      width: 160px;
      height: 44px;
      background-color: $TextBtnSecondaryColor;
      color: $TextFirstBtnPrimaryColor;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 22px;
      border: none;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      cursor: pointer;
      outline: none;
      transition: transform 0.2s;
      z-index: 1;
    }
  }
  &__label {
    padding-left: 5px;
  }
  &__buy:hover {
    background-color: $BtnHoverColorPrimary;
    transform: scale(1.05);
  }
  &__buy:hover > .button__arrow {
    transform: rotate(-45deg) translate(0px, 0px);
    border-color: text-hover-color;
  }

  &__buy:hover > .button__arrow::before {
    opacity: 1;
    width: 7px;
    @include desktop {
      width: 9px;
    }
  }
  &__red {
    width: 62.4px;
    height: 24px;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $TextFirstBtnPrimaryColor;
    color: $TextBtnSecondaryColor;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    @include desktop {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.29;
    }
  }
  &__red:hover,
  &__red:focus {
    background-color: $BtnHoverColorSecondary;
    transform: scale(1.05);
    outline: none;
  }
  &__white {
    width: 82.8px;
    height: 24px;
    // margin-top: 60px;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $TextBtnSecondaryColor;
    color: $TextFirstBtnPrimaryColor;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    @include desktop {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.29;
    }

    &--mobile-menu {
      width: 209px;
      height: 44px;
      padding: 12px 48.64px;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
    }
  }
  &__white:hover,
  &__white:focus {
    background-color: $BtnHoverColorPrimary;
    transform: scale(1.05);
    outline: none;
  }
  &__slider {
    display: none;
    @include tablet {
      display: flex;
      margin-left: 154px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: none;
      align-items: center;
      cursor: pointer;
    }
    @include desktop {
      width: 26px;
      height: 26px;
    }
  }
  &__arrow {
    width: 6px;
    height: 6px;
    border-right: 1px solid $TextFirstBtnPrimaryColor;
    border-bottom: 1px solid $TextFirstBtnPrimaryColor;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all 0.3s ease;
    @include desktop {
      width: 8px;
      height: 8px;
      border-right: 1px solid $TextFirstBtnPrimaryColor;
      border-bottom: 1px solid $TextFirstBtnPrimaryColor;
      margin: 0 8px;
    }
  }
  &__arrow::before {
    display: block;
    background-color: $TextFirstBtnPrimaryColor;
    width: 3px;
    transform-origin: bottom right;
    height: 1px;
    position: absolute;
    opacity: 0;
    bottom: calc(-1px / 2);
    transform: rotate(45deg);
    transition: all 0.3s ease;
    content: '';
    right: 0;
  }
  &__slider:hover > .button__arrow {
    transform: rotate(-45deg) translate(0px, 0px);
    border-color: text-hover-color;
  }

  &__slider:hover > .button__arrow::before {
    opacity: 1;
    width: 7px;
    @include desktop {
      width: 9px;
    }
  }
}

.contacts__button {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  width: 161px;
  height: 44px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform, background-color, 0.2s;

  @include tablet {
    width: 191px;
  }

  @include desktop {
    width: 198px;
  }

  &--main {
    color: $TextBtnSecondaryColor;
    background-color: $BtnThirdColor;
  }

  &--second {
    color: $TextFirstBtnPrimaryColor;
    background-color: $TextBtnSecondaryColor;

    @include tablet {
      width: 174px;
    }

    @include desktop {
      width: 180px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $BtnHoverColorPrimary;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &-pointer {
    margin-left: 8px;

    @include tablet {
      margin-left: 13px;
    }
  }
}
