$SectionFirstColor: #ffb8ca;
$SectionSecondColor: #ffa5ba;
$SectionThirdColor: #f0d1a5;
$SectionFourthColor: #c2e297;
$SectionFifthColor: #fff5f6;
$SectionSixthColor: #e1e1e1;
// SectionSeventhColor powtarza się z SectionFifthColor
$SectionSeventhColor: #fff5f6;
$TextFirstColor: #d41443;
$TextSecondColor: #ffffff;
$TextThirdColor: #ffa5ba;
$TextFourthColor: #907e82;
$BtnPrimaryColor: #d41443;
// BtnSecondaryColor powtarza się z TextSecondColor
$BtnSecondaryColor: #ffffff;
$BtnThirdColor: #d41342;
$BtnHoverColorPrimary: #ecebeb;
$BtnHoverColorSecondary: #c7133e;
$IconBackgroundColor: #fea5bb;
$TextFirstColor: #d41443;
$TextSecondColor: #ffffff;
$TextThirdColor: #ffa5ba;
$BtnPrimaryColor: #d41443;
$BtnSecondaryColor: #ffffff;
$BtnHoverColorPrimary: #ecebeb;
$BtnHoverColorSecondary: #c7133e;
$bgreviewColor: #fafafa;
$bglinearreviewColor: #fafafa00;
$linearReviewColor: #e1e1e1;
$iconReviewColor: #d31342;
$bgiconReviewColor: #d9d9d9;

$SectionFifthSevenColor: #fff5f6;
$SectionSixthLinearReviewColor: #e1e1e1;
$TextFirstBtnPrimaryColor: #d41443;
$TextBtnSecondaryColor: #ffffff;
$SectionSecondTextThirdColor: #ffa5ba;
$BtnHoverColorSecondary: #c7133e;
$TextFourthColor: #907e82;
$bgreviewColor: #fafafa;
$IconBackgroundColor: #fea5bb;
$bglinearreviewColor: #fafafa00;
$bgiconReviewColor: #d9d9d9;
$SectionFirstColor: #ffb8ca;
$SectionThirdColor: #f0d1a5;
$SectionFourthColor: #c2e297;
$iconReviewColor: #d31342;
$BtnThirdColor: #d41342;
$BtnHoverColorPrimary: #ecebeb;
