$SectionFirstColor: #ffb8ca;
$SectionSecondColor: #ffa5ba;
$SectionThirdColor: #f0d1a5;
$SectionFourthColor: #c2e297;
$SectionFifthColor: #fff5f6;
$SectionSixthColor: #e1e1e1;
$TextFirstColor: #d41443;
$TextSecondColor: #ffffff;
$TextThirdColor: #ffa5ba;
$BtnPrimaryColor: #d41443;
$BtnSecondaryColor: #ffffff;
$BtnHoverColorPrimary: #ecebeb;
$BtnHoverColorSecondary: #c7133e;
$bgreviewColor: #fafafa;
$bglinearreviewColor:  #fafafa00;
$linearReviewColor: #E1E1E1;
$iconReviewColor: #D31342;
$bgiconReviewColor: #D9D9D9;

