$SectionFifthSevenColor: #fff5f6;
$SectionSixthLinearReviewColor: #e1e1e1;
$TextFirstBtnPrimaryColor: #d41443;
$TextBtnSecondaryColor: #ffffff;
$SectionSecondTextThirdColor: #ffa5ba;
$BtnHoverColorSecondary: #c7133e;
$TextFourthColor: #907e82;
$bgreviewColor: #fafafa;
$IconBackgroundColor: #fea5bb;
$bglinearreviewColor:  #fafafa00;
$bgiconReviewColor: #D9D9D9;
$SectionFirstColor: #ffb8ca;
$SectionThirdColor: #f0d1a5;
$SectionFourthColor: #c2e297;
$iconReviewColor: #D31342;
$BtnThirdColor: #d41342;
$BtnHoverColorPrimary: #ecebeb;
$MobileMenuBgColor: #e17992;
$MobileMenuBorderColor: #e18298;
