.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  padding: 86px 0 113px 0;
  background: linear-gradient(
    to bottom,
    $TextBtnSecondaryColor 0px,
    $TextBtnSecondaryColor 170px,
    $SectionFifthSevenColor 170px,
    $SectionFifthSevenColor 0%
  );

  @include tablet {
    font-size: 14px;
    line-height: 186%;
    padding: 119px 0 158px 0;
    background: linear-gradient(
      to bottom,
      $TextBtnSecondaryColor 0px,
      $TextBtnSecondaryColor 197px,
      $SectionFifthSevenColor 197px,
      $SectionFifthSevenColor 0%
    );

    @include desktop {
      font-size: 16px;
      padding: 132px 0 165px 0;
      background: linear-gradient(
        to bottom,
        $TextBtnSecondaryColor 0px,
        $TextBtnSecondaryColor 234px,
        $SectionFifthSevenColor 234px,
        $SectionFifthSevenColor 0%
      );
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 480px;
    margin: 0 auto 54px;

    @include tablet {
      flex-direction: row;
      justify-content: center;
      max-width: 768px;
      margin-bottom: 81px;
    }

    @include desktop {
      max-width: 1280px;
      margin-bottom: 86px;
      gap: 31px;
    }
  }

  &__splash {
    display: none;

    @include desktop {
      display: block;
      position: absolute;
      max-width: 1280px;
    }
  }

  &__title {
    display: none;
  }

  &__container {
    background-color: $TextBtnSecondaryColor;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    max-width: 220px;

    @include desktop {
      max-width: 330px;
    }
  }

  &__list {
    padding: 43px 20px;

    @include tablet {
      padding: 50px 32px;
    }

    @include desktop {
      padding: 51px 43px;
    }

    &-element {
      padding: 25px 0;

      @include tablet {
        padding: 30px 0;
      }

      @include desktop {
        padding: 32px 0;
      }

      &:first-child {
        padding-top: 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $SectionSixthLinearReviewColor;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__category {
    display: block;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.04em;
    color: $TextBtnSecondaryColor;
    border-radius: 4px;
    max-width: 80px;
    height: 16px;
    margin-bottom: 25px;
    background-color: $SectionThirdColor;

    @include tablet {
      font-size: 16px;
      height: 28px;
      line-height: 186%;
      margin-bottom: 30px;
      border-radius: 6px;
    }

    @include desktop {
      margin-bottom: 32px;
    }

    &--color {
      background-color: $SectionFourthColor;
      max-width: 140px;
    }
  }

  &__town {
    letter-spacing: 0.04em;
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 14px;
    }

    @include desktop {
      margin-bottom: 10px;
    }

    &-desc {
      color: $TextFourthColor;

      @include tablet {
        line-height: 166%;
      }

      @include desktop {
        line-height: 183%;
      }
    }
  }

  &__days {
    line-height: 186%;
  }

  &__hours {
    line-height: 186%;
    color: $SectionSecondTextThirdColor;

    &:nth-of-type(2) {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 16px;
      }

      @include desktop {
        margin-bottom: 15px;
      }
    }
  }

  &__address {
    color: $TextFourthColor;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include tablet {
      flex-direction: row;
      justify-content: center;
      gap: 14px;
    }
  }
}
