.contacts {
  background-color: $SectionFifthSevenColor;
  // font-family: $DefaultFontFamily;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  // jeśli użyjemy kodu poniżej padding-bottom: 29px; powinien wyrównać odległość do danych z projektu
  padding-bottom: 29px;

  // kod do przesunięcia elementów w górę - trzeba dodać do sekcji powyżej padding-bottom: 86px; żeby się nie nałożyło na siebie

  // &__container-shift {
  //   position: relative;
  //   top: -84px;
  // }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 480px;
    padding: 0 50px;
    margin: 0 auto 54px;
  }

  &__title {
    display: none;
  }

  &__container {
    background-color: $TextBtnSecondaryColor;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    max-width: 220px;
  }

  &__list {
    padding: 43px 20px;

    &-container {
      list-style: none;
    }

    &-element {
      padding: 25px 0;

      &:first-child {
        padding-top: 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $SectionSixthLinearReviewColor;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__category {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: $TextBtnSecondaryColor;
    border-radius: 4px;
    max-width: 80px;
    height: 16px;
    margin-bottom: 25px;
    background-color: $SectionThirdColor;

    &--color {
      background-color: $SectionFourthColor;
      max-width: 140px;
    }
  }

  &__town {
    letter-spacing: 0.04em;
    margin-bottom: 10px;

    &-desc {
      color: $TextFourthColor;
    }
  }

  &__days {
    line-height: 186%;
  }

  &__hours {
    line-height: 186%;
    color: $SectionSecondTextThirdColor;

    &:nth-of-type(2) {
      margin-bottom: 10px;
    }
  }

  &__address {
    color: $TextFourthColor;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__button {
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    width: 161px;
    height: 44px;

    &--main {
      color: $TextBtnSecondaryColor;
      background-color: $BtnThirdColor;
    }

    &--second {
      color: $TextFirstBtnPrimaryColor;
      background-color: $TextBtnSecondaryColor;

      &:hover,
      &:active,
      &:focus {
        background-color: $BtnHoverColorPrimary;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &-pointer {
      margin-left: 8px;
    }
  }
}
