@import 'colors';
@import 'typography';


.container {
  margin: 0 auto;
  min-width: 320px;
}
.wrapper {
    margin: 0 auto;
    padding: 80px 20px 0px 20px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 280px;
    max-width: 926px;
    &__image {
        padding-bottom: 29px;
    }
    &__text-box {
        display: block;
        background-color: $bgreviewColor;
        position: relative;
        padding: 43px 50px 17px 50px;
        &::after {
            content: "";
            display: block;
            background-image: url(../images/quote.png);
            width: 54px;
            height: 40px;
            background-repeat: no-repeat;
            opacity: 0.5;
            position: absolute;
            left: 61px;
            top: 28px;
        }
    }
    &__text {
        display: block;
        padding: 0px 16px 0px 7px;
        font-family: $DefaultFontFamily;
        font-weight: 500;
        font-size: 12px;
        line-height: 2.55;
        text-align: center;
        background: repeating-linear-gradient(       
            transparent 0px, transparent 29px, 
            $linearReviewColor 29px,
            $linearReviewColor 30px);
    } 
    &__client-name {
        font-family: $DefaultFontFamily;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
        padding-top: 52px;
        text-align: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url(../images/threepoints.png);
            width: 32px;
            height: 8px;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%; 
            left: 50%;
	        transform: translate(-50%,-50%);
        }
    }
 }

 .pagination {
    margin-top: 30px;
    &__list {
        display: flex;
        gap: 18px;
        flex-direction: row;
     }
     &__item {
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 50%;
        background-color: $bgiconReviewColor;
        &--is-active {
            background-color: $BtnSecondaryColor;
        }
   }
     &__icon {
          fill: $iconReviewColor;
          opacity: 0;
          &--is-active{
            opacity: 1;;
            
          }
     }

    }
 
